body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(24, 55, 101, 0.27);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-4{
  width: 33.33%;
  padding: 15px;
}
.cart{
 padding: 80px;
  background: rgba(63, 164, 164, 0.37);
  border-radius: 5px;
  height: 100%;
}

.cart h3{
  color: rgba(38, 13, 13, 0.49);
}

.info-next{
  text-align: center;
  padding: 10px 150px;
}
.all-info{
  text-align: center;
  font-family: "Adobe Devanagari";
  font-size: 20px;
}
.all-info button{
  font-size: 20px;
  margin: 10px;
}
.all-info img{
  width: 250px;
  border-radius: 5px;
}
header, footer{
  background: rgba(51, 131, 131, 0.94);
  padding: 90px;
  width: 100%;
  display: flex;
}
header nav{
  display: flex;
  gap: 100px;
  padding: 0 0 0 200px;
}

header h2{
  font-size: 30px;
}
header input{
  margin: 0 10px 0 200px;
  padding: 0 30px;
  border: none;
  border-radius: 10px;
}
header button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
.all-info p{
  display: table-cell;
}
